* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }
  body p {
    line-height: 1.7;
    color: #4b4b4b;
    max-width: 70ch;
    font-size: 1rem; }
  body a {
    text-decoration: none; }
  body h4 {
    color: #0a0a0a; }
  body .button {
    box-shadow: inset 0 0 0 0 #3c26c9; }
    body .button:hover {
      box-shadow: inset 300px 0 0 0 #3c26c9;
      transition: 600ms; }
  body .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    height: 100px;
    align-items: center;
    padding: 32px; }
    body .navbar p {
      font-size: 28px;
      color: #3d318c;
      font-weight: 700; }
    body .navbar div .contact-but {
      padding: 17px 20px;
      background-color: #3d318c;
      color: #ffffff;
      border-radius: 6px;
      margin-left: 20px; }
    body .navbar div a {
      text-decoration: none;
      color: #4b4b4b; }
      body .navbar div a:nth-child(1):hover {
        color: #000000;
        font-weight: 700; }
  body main {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px; }
    body main .intro {
      display: flex;
      justify-content: space-between;
      margin-top: 5%;
      align-items: center; }
      body main .intro div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        body main .intro div h1 {
          font-size: 54px;
          color: #3d318c;
          margin-bottom: 15px;
          font-family: 'Fraunces', serif; }
        body main .intro div .dev {
          letter-spacing: 2px;
          color: #4b4b4b; }
        body main .intro div p {
          font-size: 1.125rem; }
        body main .intro div a {
          padding: 15px 20px;
          text-decoration: none;
          color: #ffffff;
          background-color: #3d318c;
          border-radius: 6px;
          margin-top: 20px; }
      body main .intro img {
        width: 40%; }
    body main .arrow {
      margin-top: 4.5%;
      display: flex;
      justify-content: center; }
    body main .about {
      margin-bottom: 5%; }
      body main .about h2 {
        margin-bottom: 3%; }
      body main .about .about-txt {
        padding-left: 16px;
        border-left: 3px solid #3d318c; }
    body main .proyects h3 {
      margin-bottom: 3%; }
    body main .proyects .card-cont {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px; }
      body main .proyects .card-cont .card {
        display: flex;
        flex-direction: column;
        box-shadow: 4px 0 10px rgba(61, 49, 140, 0.1);
        border-radius: 6px;
        background-color: #f3f2fd;
        cursor: pointer;
        transition: 400ms ease-in-out; }
        body main .proyects .card-cont .card:hover {
          background-color: #fbfbfe;
          box-shadow: 4px 2px 12px 10px rgba(61, 49, 140, 0.2); }
        body main .proyects .card-cont .card:hover img {
          filter: brightness(1); }
        body main .proyects .card-cont .card img {
          width: 100%;
          vertical-align: middle;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          filter: brightness(0.6);
          transition: filter 400ms; }
        body main .proyects .card-cont .card .card-txt {
          padding: 24px; }
          body main .proyects .card-cont .card .card-txt .card-sk {
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex; }
            body main .proyects .card-cont .card .card-txt .card-sk p {
              margin-right: 8px;
              padding: 4px 8px;
              background-color: #3d318c;
              border-radius: 6px;
              color: #ffffff; }
    body main .proyects .github-link {
      margin-top: 8%;
      width: 100%;
      display: flex;
      justify-content: center; }
      body main .proyects .github-link a {
        padding: 15px 30px;
        text-decoration: none;
        color: #ffffff;
        background-color: #3d318c;
        border-radius: 6px; }
    body main .skills {
      margin-top: 5%;
      margin-bottom: 5%; }
      body main .skills h4 {
        margin-bottom: 5%; }
      body main .skills .logo-cont {
        width: 100%;
        margin-bottom: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
        body main .skills .logo-cont .logo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between; }
          body main .skills .logo-cont .logo img {
            margin-bottom: 6%;
            width: 40%; }
  body .footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body .footer .icons-cont {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 3%;
      width: 400px; }
      body .footer .icons-cont .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #3d318c; }
        body .footer .icons-cont .icons:hover {
          transform: translateY(-6px);
          transition: 400ms;
          color: #3c26c9; }
        body .footer .icons-cont .icons i {
          font-size: 35px;
          color: #3d318c;
          cursor: pointer; }
    body .footer .footer-links {
      margin-bottom: 2%; }
      body .footer .footer-links a {
        text-decoration: none;
        color: #4b4b4b;
        margin: 10px;
        font-size: 20px; }
        body .footer .footer-links a:hover {
          color: #000000;
          font-weight: 700; }
    body .footer .whatsapp {
      text-decoration: none;
      color: #3d318c;
      padding: 6px; }

@media screen and (max-width: 900px) {
  body main .proyects .card-cont {
    grid-template-columns: 1fr; }
  body main .skills .logo-cont {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px; } }

@media screen and (max-width: 800px) {
  body main .intro {
    flex-direction: column-reverse; }
    body main .intro img {
      margin-bottom: 10%; }
    body main .intro div {
      align-items: center;
      text-align: center; } }

@media screen and (max-width: 600px) {
  body .navbar {
    padding: 16px; }
    body .navbar p {
      font-size: 20px;
      flex: 0 0 33.3%; }
    body .navbar .nav-links a {
      font-size: 16px; }
    body .navbar .nav-links .contact-but {
      padding: 12px;
      margin-left: 4px; }
  body main {
    width: 90%; }
    body main .intro div {
      margin-bottom: 5%; }
    body main .intro img {
      width: 90%; }
    body main .proyects .card-cont .card .card-txt .card-sk p {
      font-size: 10px; } }
