* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }
  body p {
    line-height: 1.7;
    color: #4b4b4b;
    max-width: 70ch; }
  body .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    height: 100px;
    align-items: center;
    padding: 32px; }
    body .navbar div .contact-but {
      padding: 17px 20px;
      background-color: #3d318c;
      color: #ffffff;
      border-radius: 6px; }
    body .navbar div a {
      margin-left: 50px; }
    body .navbar a {
      text-decoration: none;
      color: black; }
  body main {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px; }
    body main .intro {
      display: flex;
      justify-content: space-between;
      margin-top: 5%;
      align-items: center; }
      body main .intro div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        body main .intro div h1 {
          font-size: 54px;
          color: #3d318c;
          margin-bottom: 15px;
          font-family: 'Fraunces', serif; }
        body main .intro div .dev {
          letter-spacing: 2px;
          color: #2c2c2c; }
        body main .intro div a {
          padding: 15px 20px;
          text-decoration: none;
          color: #ffffff;
          background-color: #3d318c;
          border-radius: 6px;
          margin-top: 20px; }
      body main .intro img {
        width: 40%; }
    body main .arrow {
      margin-top: 4.5%;
      display: flex;
      justify-content: center; }
    body main .about {
      margin-bottom: 5%; }
      body main .about h2 {
        margin-bottom: 3%; }
      body main .about .about-txt {
        padding-left: 16px;
        border-left: 3px solid #3d318c; }
    body main .proyects h3 {
      margin-bottom: 3%; }
    body main .proyects .card-cont {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px; }
      body main .proyects .card-cont .card {
        display: flex;
        flex-direction: column;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        background-color: #f3f2fd; }
        body main .proyects .card-cont .card img {
          width: 100%;
          vertical-align: middle;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px; }
        body main .proyects .card-cont .card .card-txt {
          padding: 24px; }
          body main .proyects .card-cont .card .card-txt > p {
            line-height: 1.3;
            color: #4b4b4b;
            font-size: 12px; }
          body main .proyects .card-cont .card .card-txt .card-sk {
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex; }
            body main .proyects .card-cont .card .card-txt .card-sk p {
              margin-right: 8px;
              padding: 10px 15px;
              background-color: #3d318c;
              border-radius: 6px;
              color: #ffffff; }
    body main .proyects .github-link {
      margin-top: 8%;
      width: 100%;
      display: flex;
      justify-content: center; }
      body main .proyects .github-link a {
        padding: 15px 30px;
        text-decoration: none;
        color: #ffffff;
        background-color: #3d318c;
        border-radius: 6px; }
    body main .skills {
      margin-top: 5%;
      margin-bottom: 5%; }
      body main .skills h4 {
        margin-bottom: 5%; }
      body main .skills .logo-cont {
        width: 100%;
        margin-bottom: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
        body main .skills .logo-cont .logo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between; }
          body main .skills .logo-cont .logo img {
            margin-bottom: 6%;
            width: 40%; }
  body .footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body .footer .icons-cont {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 3%;
      width: 400px; }
      body .footer .icons-cont .icons {
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .footer .icons-cont .icons i {
          font-size: 35px;
          color: #3d318c; }
    body .footer .footer-links {
      margin-bottom: 2%; }
      body .footer .footer-links a {
        text-decoration: none;
        color: black;
        margin: 10px;
        font-size: 20px; }
    body .footer .whatsapp {
      text-decoration: none;
      color: #3d318c; }

@media screen and (max-width: 900px) {
  body main .proyects .card-cont {
    grid-template-columns: 1fr; }
  body main .skills .logo-cont {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px; } }
