$textColor: #D1D1D1;

@mixin column($direction,$gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

.projectsCont{
    font-family: 'Bai Jamjuree';
    font-style: normal;
    padding: 0 20px;
    h3{
        margin-bottom: 160px;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-family: 'Days One';
        font-style: normal;
    }
    .projects{
        @include column(column,40px);
        .project{
            cursor: pointer;
            @include column(column,16px); 
            text-decoration: none;           
            .projectImg {
                    width: 100%;
                    filter: brightness(0.9);
                    border-radius: 10px;
                }
            .textCont{
                @include column(column,0px);
                justify-content: space-between;
                .text{
                    h4{
                        font-size: 1.5rem;
                        font-family: 'Days One';
                        font-style: normal;
                        color: #ffffff;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 300;
                        line-height: 27px;
                        color: $textColor;
                    }
                }
                .iconsCont{
                    @include column(row,20px);
                    .iconCont{
                        @include column(column,4px);
                        align-items: center;
                        justify-content: end;
                        img{
                            width: 31px;
                        }
                        p{
                            margin: 0;
                            color: #ffffff;
                        }
                    }
                }
            }
            &:hover .projectImg{
                filter: brightness(1);
            }
        }
        
    }
}

@media screen and (min-width:1024px){
    .projectsCont{
        padding: 40px;
        .projects{
            gap: 60px;
            .project{
                flex-direction: row;
                .projectImg{
                    width: 390px;
                    height: 100%;
                }
                .textCont{
                    padding-left: 16px;
                }
            }
        }
    }
}
@media screen and (min-width:1280px) {
    .projectsCont {
        padding: 100px;
        .projects {
            .project {
                .projectImg {
                    width: 400px;
                }

                .textCont {
                    padding-left: 24px;
                }
            }
        }
    }
}
@media screen and (min-width:1440px) {
    .projectsCont {
        padding: 140px;
        .projects {
            .project {
                .textCont {
                    padding-left: 32px;
                }
            }
        }
    }
}
@media screen and (min-width:1680px) {
    .projectsCont {
        padding: 230px;

        .projects {
            .project {
                .projectImg{
                    width: 520px;
                }
                .textCont {
                    padding-left: 32px;
                    .text {
                            p {
                                width: 600px;
                            }
                        }
                }
            }
        }
    }
}
@media screen and (min-width:1680px) {
    .projectsCont {
        padding: 300px;

        .projects {
            .project {
                .projectImg {
                    width: 620px;
                }

                .textCont {
                    padding-left: 32px;

                    .text {
                        p {
                            width: 700px;
                        }
                    }
                }
            }
        }
    }
}