.proyectsCont{
    width: 80%;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    h3{
        font-family: 'Days One';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 66px;
        margin: 0;
        text-transform: uppercase;
    }
    section{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        .poyectCont{
            width: 353px;
                height: 450px;
                background: radial-gradient(60.38% 60.38% at 39.23% 43.37%, #302856 0%, #080516 100%)
                        , #151629;
                border-radius: 20px;

        }
        .prevButton, .nextButton{
            background-color: transparent;
            border: none;
        }
        .active{
            height: 530px;
        }
        .hidden{
            display: none;
        }
        
    }
}
@media screen and (max-width:1200px) {
    .proyectsCont{
        h3{
            font-size: 46px;
        }
        section{
            position: relative;
            gap: 5px;
            .poyectCont{
                width: 300px;
                height: 380px;
                display: none;
            }
            .active{
            height: 480px;
            display: block;
            }
            .prevButton{
                position: absolute;
                left: -150px;
            }
            .nextButton{
                position: absolute;
                right: -150px;
            }
            .proyect{
                width: 233px;
                height: 300px;
                .textCont{
                    h4{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:980px) {
    .proyectsCont {
            h3 {
                font-size: 46px;
            }
    
            section {
                flex-direction: column;
                    gap: 30px;
                .proyect {
                    width: 203px;
                    height: 270px;
    
                    .textCont {
                        h4 {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
}
@media screen and (max-width:760px){
    .proyectsCont {
            h3 {
                font-size: 40px;
            }
    
            section {
                flex-direction: column;
                gap: 30px; 
                .prevButton {
                        left: -80px;
                    }
                
                    .nextButton {
                        right: -80px;
                    }
                .proyect {
                    width: 300px;
                    height: 350px;
    
                    .textCont {
                        h4 {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
}
@media screen and (max-width:640px) {
    .proyectsCont {
        section {
            .prevButton {
                left: -60px;
            }
            .nextButton {
                right: -60px;
            }
        }}
}
@media screen and (max-width:400px) {
    .proyectsCont {
        section {
            .prevButton {
                left: -40px;
            }

            .nextButton {
                right: -40px;
            }
        }
    }
}