
$colorParrafo: rgb(44, 44, 44);
$colorParrafo1: #0000;
$colorPrincipal: #5222D0;
$colorCards: #F5F2FD;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 0 auto;
    .navbar{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        height: 100px;
        align-items: center;
        div{
            .contact-but{
                padding: 17px 20px;
                background-color: $colorPrincipal;
                color: #ffffff;
                border-radius: 6px;
            }
            a{
                margin-left: 50px;
            }
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
    .intro{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h1{
                font-size: 72px;
                color: $colorPrincipal;
            }
            p{
                line-height: 1.3;
                color: $colorParrafo;
            }
            .dev{
                letter-spacing: 2px;
                color:rgb(41, 41, 41);
            }
            a{
                padding: 15px 20px;
                text-decoration: none;
                color: #ffffff;
                background-color: $colorPrincipal;
                border-radius: 6px;
                margin-top: 20px;
            }
        }
        img{
            width: 40%;
        }
    }
    .arrow{
        margin-top: 4.5%;
        display: flex;
        justify-content: center;
    }
    .about{
        h2{
            margin-bottom: 2%;
        }
        .about-txt{
            display: flex;
            margin-bottom: 2%;
            div{
                background-color: $colorPrincipal;
                width: 8px;
                height: 100px;
                margin-right: 1%;
            }
        }
    }
    .proyects{
        .card-cont{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            .card{
                display: flex;
                flex-direction: column;
                box-shadow: 4px 0 10px rgba(#5222D0, 0.2);
                img{
                    width: 100%;
                    // vertical align saca el margen abajo de la imagen
                    vertical-align: middle;
                }
                .card-txt{
                    background-color: $colorCards;
                    h4{
                        margin: 10px 15px;
                    }
                    p{
                        line-height: 1.3;    
                        margin: 10px 15px;                    
                    }
                    .card-sk{
                        margin-top: 10px;
                        margin-bottom: 10px;
                        display: flex;
                        p{
                            margin-left: 10px;
                            padding: 10px 15px;
                            background-color: $colorPrincipal;
                            border-radius: 6px;
                            color: #ffffff;
                        }
                    }                   
                }
            }
        } 
        .github-link{
            margin-top: 8%;
            width: 100%;
            display: flex;
            justify-content: center;
            a{
                padding: 15px 30px;
                text-decoration: none;
                color: #ffffff;
                background-color: $colorPrincipal;
                border-radius: 6px;
            }
        }       
    }
    .skills{
        margin-top: 5%;
        margin-bottom: 5%;
        h4{
            margin-bottom: 5%;
        }
        .logo-cont{
            width: 100%;
            margin-bottom: 5%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            .logo{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    margin-bottom: 6%;
                }
            }
        }
    }
    .footer{
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icons-cont{
            display: flex;
            margin-bottom: 3%;
            .icons{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80px;
                i{
                    font-size: 35px;
                    color: $colorPrincipal;
                }
            }
        }
        .footer-links{
            margin-bottom: 2%;
            a{
                text-decoration: none;
                color: black;
                margin: 10px;
            }
        }
    }
}