.form{
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 80%;
    align-items: center;
    label{
        font-family: 'Days One';
    }
    .nameCont{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        gap:5px;
    }
    .emailCont{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        gap:5px;
    }
    .subjectCont{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        gap:5px;
    }
    .messageCont{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        gap:5px;
        input{
            height: 40px;
        }
        .msgCount{
            position: absolute;
            bottom: -25px;
            right: 0;
        }
    }
    .buttonCont{
        margin-top: 20px;
        button{
            font-family: 'Days One';
            background: linear-gradient(to right, #E80ECD, #FE0072);
                width: 197px;
                height: 47px;
            box-shadow: 0px 0px 10px rgba(255, 188, 218, 0.15), 0px 0px 15px #FE0072;
                border-radius: 4px;
                border: 1px solid #FE0072;
                cursor: pointer;
            text-transform: uppercase;
                text-decoration: none;
                color: white;
                font-size: 16px;
                line-height: 27.2px;
                font-weight: 500;
            &:hover {
                    background: linear-gradient(to right, #f96de8, #bf0056);
                    box-shadow: 0px 0px 10px rgba(168, 80, 120, 0.15), 0px 0px 15px #b60152;
                }
            &:active{
                box-shadow: 10px 10px 10px rgba(168, 80, 120, 0.15), 0px 0px 15px #b60152;
                font-weight: 600;
            }
        }

    }
    .errorField{
        position: absolute;
        left: 0;
        bottom: -25px;
        color: rgb(220, 68, 68);
    }
}

@media screen and (max-width:640px) {
    .form{
        width: 60%;
        .messageCont{
            textarea{
                height: 90px;
            }

        }
    }
}
@media screen and (max-width:768px) {
    .form {
        width: 60%;
        input{
            height: 35px;
        } 
        textarea{
            height: 100px;
        }       
    }
}
@media screen and (min-width:1024px) {
    .form {
        width: 500px;
        input {
                height: 40px;
            }
        
            textarea {
                height: 100px;
            }
    }
}
