// variables
$fontColor: #ffffff;
$textColor: #D1D1D1;



.portfolio{
    
    .headerCont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                margin:0;
                font-family: 'Days One';
                font-style: normal;
                font-weight: 400;
                font-size: 65px;
                line-height: 94px;
                text-align: center;
                text-transform: uppercase;
            }
            .underTitle{
                font-family: 'Bai Jamjuree';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                margin: 0;
                text-transform: uppercase;
                .coloredTitle{
                    text-shadow: 0px 4px 20px #A300F8;
                    color: #e5b6ff;
                }
            }
        }
        .header{
            position: relative;
            
        }
        .headerItemsLeft{
            position: absolute;
            top: 40px;
            left: -180px;
            z-index: 1;
            ul{
                list-style: none;
                li{
                    position: relative;
                    p{
                        margin: 0;
                        font-family: 'Bai Jamjuree';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 40px;
                            text-shadow: 0px 4px 20px #8439F9;
                    }        
                    &:nth-child(1){
                        padding-left: 240px;
                    }            
                    &:nth-child(2){
                        padding-left: 200px;
                    }
                    &:nth-child(3){
                        padding-left: 130px;
                    }
                }
            }
        }
        .headerItemsRight{
            position: absolute;
            top: 320px;
            right: -275px;
            z-index: 1;
            ul{
                list-style: none;
                li{
                    position: relative;
                    p{
                        margin: 0;
                        font-family: 'Bai Jamjuree';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 40px;
                            text-shadow: 0px 4px 20px rgb(132, 57, 249);
                    }
                    &:nth-child(2){
                        padding-left: 50px;
                    }
                    &:nth-child(3){
                        padding-left: 85px;
                    }
                    &:nth-child(4){
                        padding-left: 120px;
                    }
                }
            }
        }
        .headerImageCont{
            width: 600px;
            height: 600px;
            position: relative;
            .imageCont{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            button{
                position: absolute;
                z-index: 5px;        
                bottom: -15px;
                left: 30%;
                background: linear-gradient(to right, #E80ECD, #FE0072);
                width: 197px;
                height: 47px;
                box-shadow: 0px 0px 10px rgba(255, 188, 218, 0.15), 0px 0px 15px #FE0072;
                border-radius: 4px;
                border: 1px solid #FE0072;
                cursor: pointer;
                a{
                    padding: 10px 50px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $fontColor;
                    font-size: 16px;
                    line-height: 27.2px;
                    font-weight: 700;
                }
                &:hover{  
                    background: linear-gradient(to right, #f96de8, #bf0056);
                    box-shadow: 0px 0px 10px rgba(168, 80, 120, 0.15), 0px 0px 15px #b60152;
                }
                &:active{
                box-shadow: 10px 10px 10px rgba(168, 80, 120, 0.15), 0px 0px 15px #b60152;
            }
            }
        }
    }
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: 160px auto;
        gap: 10px;
        position: relative;
        h3{
            position: absolute;
            top: 100px;
            left: -130px;
            transform: rotate(-90deg);
            font-family: 'Days One';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            text-transform: uppercase;
        }
        div{
            display: flex;
            flex-direction: column;
            gap: 20px;
            p{
                font-family: 'Bai Jamjuree';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 38px;
                color: $textColor;
            }
        }
    }
    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        .contactLinks{
            position: relative;
            width: 630px;
            height: 354px;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.33);
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(7px);
            display: flex;
            justify-content: center;
            align-items: center;
            .linkCont{
                width: 35%;
                margin: auto auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 30px;
                .links{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    text-decoration: none;
                    color: $fontColor;
                    .link{
                        font-family: 'Bai Jamjuree';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        color: $fontColor;
                        text-decoration: none;
                    }
                }
            }
            h3{
                text-transform: uppercase;
                font-family: 'Days One';
                font-style: normal;
                transform: rotate(-90deg);
                position: absolute;
                bottom: 120px;
                right: -250px;
                font-weight: 400;
                font-size: 55px;
                line-height: 94px;
            }
        }
    }

}
@media screen and (max-width:1200px){
    .portfolio {
            .headerCont {
                .header{
                    .headerItemsLeft{
                        ul{
                            li{
                                p{
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                    .headerItemsRight{
                        right: -250px;
                        ul {
                            
                                li {
                                    p {
                                        font-size: 26px;
                                    }
                                }
                            }
                    }
                    .headerImageCont{
                        width: 500px;
                        height: 350px;
                    }
                }
            }
            .about{
            h3{
                font-size: 28px;
                top: 100px;

            }
            p{
                line-height: 200%;
                font-size: 18px;
            }
        }
        }
}
@media screen and (max-width:980px){
    .portfolio{
        .headerCont{
            .header {
                    .headerItemsLeft {
                        ul {
                            li {
                                p {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
            
                    .headerItemsRight {
                        right: -150px;
            
                        ul {
            
                            li {
                                p {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
            
                    .headerImageCont {
                        width: 450px;
                        height: 350px;
                        button {
                                left: 25%;
                            }
                    }
                }
            .title{
                h1{
                    font-size: 50px;
                }
                .underTitle{
                    h2{
                        font-size: 16px;
                    }
                }
            }
        }
        .about{
            h3{
                top: 150px;

            }
        }
        .contact{
            margin-top: 250px;
            .contactLinks{
                h3{
                    top: -180px;
                    right: 140px;
                    transform: rotate(0deg);
                }
            }
        }
    }
}
@media screen and (max-width:760px) {
    .portfolio {  
        .headerCont {
                .header {
                    .headerItemsLeft {
                        ul{
                            display: none !important;
                        }
                    }
            
                    .headerItemsRight {
                        ul{
                            display: none !important;
                        }
                    }
                    .headerImageCont{
                        button {
                                left: 25%;
                            }
                    }
            
                }
                .title {
                    h1 {
                        font-size: 46px;
                    }
        
                    .underTitle {
                        font-size: 14px;
                    }
                }
            }
        .about{
            margin-top: 180px;
            width: 90%;
            h3{
                top: -80px;
                left: 40%;
                transform: rotate(0deg);
            }
            p{
                text-align: center;
                width: 80%;
                margin: 0 auto;
            }
        }
        .contact {
            .contactLinks {
                width: 80%;
                margin: 0 auto;  
                .linkCont{
                    width: 80%;
                    margin-left: 30%;
                    .links{
                        .link{
                            font-size: 16px;

                        }
                    }
                }              
                h3 {
                    font-size: 42px;
                    right: 23%;
                }
            }
        }
    }
}
@media screen and (max-width:500px) {
    .portfolio {
        .headerCont {
            .header{
                width: 95%;
                margin: 0 auto;
                .headerImageCont {                        
                        width: 100%;
                        height: 350px;
                        button{
                            left: 28%;
                        }
                }

            }
                .title {
                    h1 {
                        font-size: 28px;
                    }
                    .underTitle {
                        font-size: 6px;
                    }
                }
            }
        .about{
            h3{
                top: -80px;
                left: 38%;
                font-size: 24px;
            }
            p{
                text-align: center;
                line-height: 170%;
            }
        }
        .contact {
            .contactLinks {
                width: 90%;
                margin: 0 auto;
                h3 {
                    font-size: 42px;
                    left: 16%;
                }

                .linkCont {
                    width: 80%;
                    margin-left: 18%;
                }

            }
        }
    }
}
@media screen and (max-width:430px){
.portfolio {
        .headerCont {
            .header {
                .headerImageCont {
                    button {
                        left: 24%;
                    }
                }
    
            }
        }
        .contact {
            .contactLinks {
                h3 {
                    font-size: 42px;
                    left: 6%;
                }

                .linkCont {
                    width: 80%;
                    margin-left: 10%;
                }

            }
        }
        .about{
            h3{
                top: -80px;
                left: 34%;
            }
        }
    }
}
@media screen and (max-width:340px) {
    .portfolio {
        .headerCont {
            .header {
                .headerImageCont {
                    button {
                        left: 20%;
                    }
                }

            }
        }
    }
}