.navCont{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background: none;
    font-family: 'Bai Jamjuree';
    font-style: normal;
}
.logo{
    text-decoration: none;
    color: #ffffff;
}
.navLinks{
    display: flex;
    align-items: center;
    gap: 20px;
}
.link{
    text-decoration: none; 
    color: #ffffff;
}

@media screen and (max-width:760px){
    .navCont{
        display: none;
    }
}