.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-image: url(./assets/img/background.png);
}
.gradient1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.gradient2 {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -2;
}

.gradient3 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
}