@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300&family=Days+One&display=swap');


body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  background-color: #050310;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #323232;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 4px;
  border: 1px solid rgb(138, 138, 138);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #191919;
}
